<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1"
        />
        <meta name="google" content="notranslate">
        <link rel="stylesheet" href="/css/mainstyles.css">
        {{#if styles}}
            {{#each styles}}
                <link rel="stylesheet" href="/css/{{this}}">
            {{/each}}
        {{/if}}
        <title>Checkers From Ivan</title>
    </head>
    <body translate="no">
        {{{body}}}
    </body>
</html>