<script src="/socket.io/socket.io.js"></script>
<header id="me">{{{ username }}}</header>
<main class="main">
    <table border="1">
        <tbody id="tbody1">
            <!-- таблица для доски -->
        </tbody>
    </table>
    <table border="1" style="opacity: 0.5;">
        <tbody id="tbody2">
            <!-- таблица для доски напарника-->
        </tbody>
    </table>

    <a href="/exit">Выйти</a>
</main>

<script>
    const me = document.getElementById('me').innerText;
    const socket = io();
    var gameStarted = false;
    socket.emit('startingGame', me); // запрос на привязку текущего сокета к игроку для обработки мультиплеерных запросов

    socket.emit('getPairs'); // получить играющие пары и начать игру
    socket.on('setPairs', (pairs) => {
        if(gameStarted) return; // если игра уже началась - не нужно ничего делать
        console.table(pairs);
        pairs.forEach(pair => {
            if(pair.includes(me)){
                if(pair[0] == me){
                    // если я первый в паре, то я хожу белыми
                    //pf.bottomCheckersColor = 'white';
                }
                else{
                    // если я второй в паре, то я хожу черными
                    //pf.bottomCheckersColor = 'black';
                }
                gameStarted = true;
            }
        });
    });

    socket.emit('getPlayField'); // получить игровое поле с сервера
    socket.on('setPlayField', (playField) => {
        console.log(playField);
        let data = JSON.parse(playField);
        createGameFieldFromServer(1, data);
        //pf.currentMove = playField.currentMove == 'w' ? 'white' : 'black';
        //pf.createGameField(1, playField.cells);
    });

    socket.on('error', (message) => {
        confirm(`Ошибка: ${message}`);
    });

    function createGameFieldFromServer(numTable, data){
        let cells = data.cells;
        const tbody = document.getElementById('tbody' + numTable);
        for(var i = 0; i < 8; i++){
            const row = document.createElement('tr');
            for(var j = 0; j < 8; j++){
                var color = (j + i) % 2 == 0 ? 'white' : 'black';
                var td = document.createElement('td');
                td.style.backgroundColor = color;
                let cell = cells[i][j];

                if(cell){
                    let checker = document.createElement('div');
                    let colorClass = cell.color == 'w' ? 'checker-white' : 'checker-black';
                    checker.classList.add('checker', colorClass);
                    td.appendChild(checker);
                    console.log(`i,j = ${i}, ${j}; x,y = ${cell.x}, ${cell.y}, color=${cell.color}`);
                }

                row.appendChild(td);
            }
            tbody.appendChild(row);
        }
    }
    
</script>

