<script src="/socket.io/socket.io.js"></script>
<div class="lobby-container">
    you: <div id="me">{{{ me }}}</div>
    <ul id="playersList"></ul>
    <div id="gameButton"></div>
    <a href="/exit" onclick="exitFromLobby()">Выйти</a>
</div>
<div class="pairs-container">
    <div class="pair">
    </div>
    <div class="pair">
        <div class="pair-name">Player 3</div>
        <div class="pair-name">Player 4</div>
    </div>
</div>

<script>
    const me = document.getElementById('me').innerText;
    const ul = document.getElementById('playersList');
    const socket = io();
    socket.emit('getLobby');
    socket.emit('getPairs');
    

    socket.on('setLobby', (players, host) => {
        console.table(players);
        console.log(`host - ${host}`);
        ul.innerHTML = '';
        for(let i = 0; i < players.length; i++){
            let el = document.createElement('li');
            el.innerText = players[i];
            if (players[i] == host){
                el.classList.add('host-tile');
            }
            ul.appendChild(el);
        }

        console.log(`me is host = ${me == host}`)
        const buttonTag = document.getElementById('gameButton');
        buttonTag.innerHTML = '';

        if (players.length < 2 || me != host){
            return;   
        }
    });

    socket.on('startGame', () => {
        window.location.href = '/game';
    });

    socket.on('setPairs', (pairs) => {
        console.log(pairs);
        const pairsContainer = document.querySelector('.pairs-container');
        pairsContainer.innerHTML = '';
        pairs.forEach(pair => {
            const pairDiv = document.createElement('div');
            pairDiv.classList.add('pair');
            pairDiv.addEventListener('click', (e) => {
                console.log('pair clicked');
                socket.emit('pairClick', me);
            });
            pair.forEach(player => {
                const playerDiv = document.createElement('div');
                playerDiv.classList.add('pair-name');
                playerDiv.innerText = player;
                pairDiv.appendChild(playerDiv);
            });
            pairsContainer.appendChild(pairDiv);
        });
    });

    socket.on('canStartGame', (host) => {
        const buttonTag = document.getElementById('gameButton');
        buttonTag.innerHTML = '';

        if(me != host){
            buttonTag.innerText = 'Ждем начала игры...';
            return;
        }

        const gameButton = formGameButton();
        buttonTag.appendChild(gameButton);
    });

    function exitFromLobby(){
        socket.emit('exitFromLobby', me);
    }

    function formGameButton(){
        const button = document.createElement('button');
        button.innerText = 'Начать игру!';

        button.addEventListener('click', (e) => {
            socket.emit('startGame');
        });

        return button;
    }

</script>