<div class="form-container">
    <form action="/login" method="post">
        <label for="username">Введите ваше имя</label> <br>
        <input type="text" name="username" id="username" placeholder="Имя...">
        <input type="submit" value="Отправить">
    </form>
</div>
